<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body class="m-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Web con Flask test</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Inicio</a>
              </li>
      
            </ul>
          </div>
        </div>
      </nav>
<!-- Aqui se coloca lo que falta -->
<h1>Form credito</h1>
<form action="agregarUsuario" method="POST">
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre">
    </div>
    <div class="mb-3">
        <label for="monto" class="form-label">Monto</label>
        <input type="number" class="form-control" id="monto" name="monto">
    </div>
  <!-- select input-->
  <div class="form-group">
    <label for="cuotas">Tipo de credito</label>
    <select id="cuotas" name="cuotas" class="form-control">
      <!-- for del 1 al 30  -->
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
      <option value="24">24</option>
      <option value="25">25</option>
      <option value="26">26</option>
      <option value="27">27</option>
      <option value="28">28</option>
      <option value="29">29</option>
      <option value="30">30</option>
    </select>
  </div>
</br>


<div class="row">
  <label for="segurodesgravamen" class="control-label input-group">Seguro desgravamen</label>
  <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-default">
          <input type="radio" name="segurodesgravamen" value="si">Si
      </label>
      <label class="btn btn-default">
          <input type="radio" name="segurodesgravamen" value="no">No
      </label>
  </div>
</div>

<br>
<div class="row">
  <label for="segurocontraincendio" class="control-label input-group">Seguro contra incendio</label>
  <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-default">
          <input type="radio" name="segurocontraincendio" value="si">Si
      </label>
      <label class="btn btn-default">
          <input type="radio" name="segurocontraincendio" value="no">No
      </label>
  </div>
</div>



    

 

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
<!-- Aqui se coloca lo que falta -->
</body>
</html>